<section class="s3">
    <div class="container">
        <div class="section-header reveal">
            <span class="section-tag" data-content-key="s3-tag">&mdash; Exterieur & Paysage &mdash;</span>
            <h2 class="section-title" data-content-key="s3-title">Amenagements Exterieurs</h2>
        </div>

        <div class="polaroid-grid reveal" id="polaroid-<%= section.carouselId %>">
            <div class="polaroid">
                <img class="polaroid-img" src="https://images.unsplash.com/photo-1591088398332-8a7791972843?w=400&h=300&fit=crop&q=80" alt="Terrasse bois">
                <div class="polaroid-caption">
                    <span class="title" data-content-key="polaroid-1-title">Terrasse meleze</span>
                    <span class="polaroid-tag bois">Terrasse</span>
                </div>
            </div>
            <div class="polaroid">
                <img class="polaroid-img" src="https://images.unsplash.com/photo-1558618666-fcd25c85cd64?w=400&h=300&fit=crop&q=80" alt="Muret pierre">
                <div class="polaroid-caption">
                    <span class="title" data-content-key="polaroid-2-title">Muret en pierres seches</span>
                    <span class="polaroid-tag green">Maconnerie</span>
                </div>
            </div>
            <div class="polaroid">
                <img class="polaroid-img" src="https://images.unsplash.com/photo-1600585154526-990dced4db0d?w=400&h=300&fit=crop&q=80" alt="Allee dalles">
                <div class="polaroid-caption">
                    <span class="title" data-content-key="polaroid-3-title">Allee en dalles granit</span>
                    <span class="polaroid-tag slate">Allee</span>
                </div>
            </div>
            <div class="polaroid">
                <img class="polaroid-img" src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?w=400&h=300&fit=crop&q=80" alt="Bardage exterieur">
                <div class="polaroid-caption">
                    <span class="title" data-content-key="polaroid-4-title">Bardage vieux bois</span>
                    <span class="polaroid-tag bois">Bardage</span>
                </div>
            </div>
        </div>
    </div>
</section>

<svg class="divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60" preserveAspectRatio="none" style="background:var(--primary-dark)">
    <path d="M0,60 L0,20 C360,60 720,0 1080,30 C1260,45 1380,15 1440,25 L1440,60 Z" fill="#2d5016"/>
</svg>

<script>
(function() {
    fetch('/api/carousel/<%= section.carouselId %>/images')
        .then(function(res) { return res.json(); })
        .then(function(data) {
            if (data.images && data.images.length > 0) {
                var allImgs = document.querySelectorAll('#polaroid-<%= section.carouselId %> .polaroid-img');
                data.images.forEach(function(img, i) {
                    if (allImgs[i]) allImgs[i].src = img.webpUrl || img.url;
                });
            }
        }).catch(function() {});
})();
</script>
